<!-- 
Style Files:
	project-folder/scss/general.scss
	project-folder/scss/feed.scss
-->
<ion-view view-title="Social Feed" class="gemionic-theme">
  <ion-content class="primary-font">
	  <!-- Actual Content Section. -->
	  <div class="gem-content padding">
	  	
	  	<!-- Gem Feed Content -->
	  	<div class="gem-feed">

			<!-- Feed type with gradient overlay -->
	  		<div class="gem-feed--item with-gradient-bg">
	  			<div class="details has-thumb fixed-bottom">
	  				<img class="thumb" src="img/demo/profile-image-2.jpg" alt="" >
	  				<h4>Peter Grull</h4>
	  				<span class="gem-feed--actions">
	  					<button class="button button-clear">
	  						<i class="icon ion-heart"></i>
  						</button>
  						<button class="button button-clear">
	  						<i class="icon ion-share"></i>
  						</button>
	  				</span>
	  			</div>
	  			<img src="img/demo/feed-image.jpg" alt="Feed Image">
	  		</div>
	  		<!-- End Feed type with gradient overlay -->

	  		<!-- Feed text. Best as an addition to the other feed types -->
	  		<div class="gem-feed--text">
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam a molestiae quaerat velit, mollitia! Enim dolorum tempora omnis ipsa perspiciatis, illo itaque laboriosam vitae. Perspiciatis voluptatem error voluptatum inventore voluptate?
	  		</div>
	  		<!-- End feed text -->

			<!-- Feed quote type -->
	  		<div class="gem-feed--item">
	  			<h4 class="primary-font gem-feed--quote">The Heart wants what it wants - or else it does not care</h4>
	  			<div class="details has-thumb default-bg">
	  				<img class="thumb" src="img/demo/profile-image-4.jpg" alt="" >
	  				<h4>Peter Grull</h4>
	  				<span class="gem-feed--actions">
	  					<button class="button button-clear">
	  						<i class="icon ion-heart"></i>
  						</button>
  						<button class="button button-clear">
	  						<i class="icon ion-share"></i>
  						</button>
	  				</span>
	  			</div>
	  		</div>
	  		<!-- End Feed Quote -->

	  		<!-- Feed type with gradient overlay -->
	  		<div class="gem-feed--item with-gradient-bg">
	  			<div class="details has-thumb fixed-bottom">
	  				<img class="thumb" src="img/demo/profile-image-3.jpg" alt="" >
	  				<h4>Peter Grull</h4>
	  				<span class="gem-feed--actions">
	  					<button class="button button-clear">
	  						<i class="icon ion-heart"></i>
  						</button>
  						<button class="button button-clear">
	  						<i class="icon ion-share"></i>
  						</button>
	  				</span>
	  			</div>
	  			<img src="img/demo/feed-image-2.jpg" alt="Feed Image">
	  		</div>
	  		<!-- End Feed type with gradient overlay -->

	  		<div class="gem-feed--text">
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam a molestiae quaerat velit, mollitia! Enim dolorum tempora omnis ipsa perspiciatis, illo itaque laboriosam vitae. Perspiciatis voluptatem error voluptatum inventore voluptate?
	  		</div>

	  	</div>
	  </div>
  </ion-content>
</ion-view>
