<!-- 
Style Files:
	project-folder/scss/general.scss
	project-folder/scss/login.scss
-->
<ion-view view-title="Forgot" class="gemionic-theme gem-login" hide-nav-bar="true">
  <ion-content class="primary-font" scroll="false">

  	  <!-- Normal Text/Content -->
	  <div class="text-center padding-vertical">
	  	<img src="img/demo/app-logo.png" alt="" class="gem-login--logo">
	  	<h3 class="gem-login--text-color">Forgot your password? Happens to all of us</h3>
	  	<p class="gem-login--text-color padding-double-vertical">provide the email/username you signed up with</p>
	  </div>
	  <!-- End Text/Content -->

	  <!-- Password Reset Form -->
		<div class="list gem-login--form">
		  <label class="item item-input">
		    <i class="icon ion-email placeholder-icon"></i>
		    <input type="text" placeholder="Email Address">
		  </label>
		</div>
		<button class="button button-assertive button-block gem-login--submit-button">Reset Password</button>
	  <!-- End Password Reset Form -->


  </ion-content>
</ion-view>
