<!-- 
Style Files:
  project-folder/scss/general.scss
  project-folder/scss/friend-list.scss
-->
<ion-view view-title="Friend-List" class="gemionic-theme">
  <ion-content class="primary-font">
    <div class="gem-content">
      <!-- Simple Image list, extended by .gem-friend -->
      <div class="list gem-friend-list">

        <a class="item item-avatar item-icon-right" href="#">
          <img src="img/demo/profile-image.jpg">
          <i class="ion-record gem-friend--status is-online"></i>
          <h2>Venkman</h2>
          <h4>Online</h4>
          <span class="badge badge-assertive gem-badge">0</span>
        </a>

        <a class="item item-avatar" href="#">
          <img src="img/demo/profile-image-2.jpg">
          <i class="ion-record gem-friend--status is-busy"></i>
          <i class="icon ion-record gem-friend--status is-online"></i>
          <h2>Egon</h2>
          <h4>We're gonna go full stream.</h4>
        </a>

        <a class="item item-avatar" href="#">
          <img src="img/demo/profile-image-3.jpg">
          <i class="ion-record gem-friend--status is-away"></i>
          <h2>Ray</h2>
          <h4>Ugly little spud, isn't he?</h4>
        </a>

        <a class="item item-avatar" href="#">
          <img src="img/demo/profile-image-4.jpg">
          <i class="ion-record gem-friend--status is-offline"></i>
          <h2>Winston</h2>
          <h4>That's a big Twinkie.</h4>
        </a>

        <a class="item item-avatar" href="#">
          <img src="img/demo/profile-image-5.jpg">
          <i class="ion-record gem-friend--status is-busy"></i>
          <h2>Tully</h2>
          <h4>Okay, who brought the dog?</h4>
        </a>

        <a class="item item-avatar" href="#">
          <img src="img/demo/profile-image-6.jpg">
          <i class="ion-record gem-friend--status is-online"></i>
          <h2>Dana</h2>
          <h4>I am The Gatekeeper!</h4>
        </a>

        <a class="item item-avatar" href="#">
          <img src="img/demo/profile-image-7.jpg">
          <i class="ion-record gem-friend--status is-online"></i>
          <h2>Slimer</h2>
          <h4>Boo!</h4>
        </a>

      </div>
    </div>

  </ion-content>
</ion-view>
