<!-- 
Style Files:
	project-folder/scss/general.scss
	project-folder/scss/inbox.scss
-->
<ion-view view-title="Inbox" class="gemionic-theme">
  <ion-content class="primary-font gem-inbox">
	  <div class="gem-content padding">
	  	<div class="list list-inset gem-inbox--search">
		  <label class="item item-input">
		    <input type="text" class="primary-font" placeholder="Search Conversations">
		    <i class="icon ion-search placeholder-icon"></i>
		  </label>
		</div>
	  </div>

	  <div class="gem-content">

	  	<div class="gem-inbox--messages">

	  		<!-- Email Block -->
			<div class="message" ui-sref="app.single-message">
				<img src="img/demo/profile-image-2.jpg" alt="" class="contact">
				<div class="message-details">
						<h4 class="bold sender">Max</h4>
						<h6 class="subject">About that script and everything else</h6>
						<div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, ea.</div>
				</div>
				<div class="message-extra text-right">
					<h6 class="no-margin">
						Tuesday | <i class="icon ion-android-attach"></i>
					</h6>
				</div>
			</div>
			<!-- Email Block -->

			<!-- Email Block -->
			<div class="message" ui-sref="app.single-message">
				<img src="img/demo/profile-image-3.jpg" alt="" class="contact">
				<div class="message-details">
						<h4 class="bold sender">Jennu</h4>
						<h6 class="subject">About that script and everything else</h6>
						<div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, velit!</div>
				</div>
				<div class="message-extra text-right">
					<h6 class="no-margin">
						Tuesday | <i class="icon ion-android-attach"></i>
					</h6>
				</div>
			</div>
			<!-- Email Block -->

			<!-- Email Block -->
			<div class="message" ui-sref="app.single-message">
				<img src="img/demo/profile-image.jpg" alt="" class="contact">
				<div class="message-details">
						<h4 class="bold sender">Linda</h4>
						<h6 class="subject">About that script and everything else</h6>
						<div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nam.</div>
				</div>
				<div class="message-extra text-right">
					<h6 class="no-margin">
						Tuesday | <i class="icon ion-android-attach"></i>
					</h6>
				</div>
			</div>
			<!-- Email Block -->

			<!-- Email Block -->
			<div class="message" ui-sref="app.single-message">
				<img src="img/demo/profile-image-4.jpg" alt="" class="contact">
				<div class="message-details">
						<h4 class="bold sender">Julia Cho</h4>
						<h6 class="subject">About that script and everything else</h6>
						<div class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, nam.</div>
				</div>
				<div class="message-extra text-right">
					<h6 class="no-margin">
						Tuesday | <i class="icon ion-android-attach"></i>
					</h6>
				</div>
			</div>
			<!-- Email Block -->
		</div>
	  </div>

  </ion-content>
</ion-view>
