<!-- 
Style Files:
	project-folder/scss/general.scss
	project-folder/scss/inbox.scss
-->
<ion-view view-title="Single Message View" class="gemionic-theme">
  <ion-content class="primary-font gem-inbox">
	  <div class="gem-content">
	  	<!-- Single Email Thread -->
	  	<div class="gem-inbox--messages">
			<div class="message single-email-view">
				<img src="img/demo/profile-image-2.jpg" alt="" class="contact">

				<!-- Email Body -->
				<div class="message-details">
						<h4 class="bold sender">John Cho</h4>
						<h6 class="subject single-email-view">About that script and everything else</h6>
						<div class="email-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, suscipit, nulla. Cum minima sed perspiciatis, obcaecati animi debitis excepturi odit aliquid accusamus vitae deserunt, nesciunt ex distinctio ea officia consequuntur!</p>

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quis quisquam assumenda placeat deserunt at consectetur, voluptates tempore. Mollitia pariatur ab nam natus ratione numquam, perspiciatis eius voluptas explicabo cumque?</p>
						
							<div class="message-actions row">
								<button class="button"><i class="icon ion-reply"></i></button>
								<button class="button"><i class="icon ion-reply-all"></i></button>
								<button class="button"><i class="icon ion-forward"></i></button>
							</div>

							<div class="respond-section">
								<textarea>itemizo</textarea>
							</div>

						</div>
				</div>
				<!-- End Email Body -->
				<div class="message-extra text-right">
					<h6 class="no-margin">
						Tuesday | <i class="icon ion-android-attach"></i>
					</h6>
				</div>
			</div>
		</div>
		<!-- End Single Email Thread -->
	  </div>

  </ion-content>
</ion-view>
