<ion-view view-title="Timeline" class="gemionic-theme">
  <ion-content class="primary-font">
	  <div class="gem-content padding gem-timeline">

	  	<div class="gem-timeline--item">
	  		<div class="thumb is-image">
	  			<!-- <i class="icon ion-heart"></i> -->
	  			<img src="img/demo/profile-image.jpg" alt="">
	  		</div>

	  		<div class="item-content">
	  			<h6 class="uppercase date">January 24th 1985</h6>
	  			<h4><i class="title-icon ion-ios-photos"></i> Max Posted a photo!</h4>
	  			<div class="media">
	  				<img src="img/demo/feed-image.jpg" alt="">
	  			</div>
	  		</div>

	  		<div class="item-action-button text-right">
	  			<i class="icon ion-more"></i>
	  		</div>
	  	</div>

	  	<div class="gem-timeline--item">
	  		<div class="thumb is-image">
	  			<!-- <i class="icon ion-heart"></i> -->
	  			<img src="img/demo/profile-image-2.jpg" alt="">
	  		</div>

	  		<div class="item-content">
	  			<h6 class="uppercase date">January 24th 1985</h6>
	  			<h4><i class="title-icon ion-mic-a"></i> Jenny Posted an audio!</h4>
	  			<div class="media is-audio">
	  				<!-- <img src="http://placehold.it/300x300" alt=""> -->
	  				<div class="attachment-icon"><i class="icon ion-ios-mic"></i></div>
	  				<div class="attachment-title">
	  					<h6>Audio File 2:30sec</h6>
	  				</div>
	  			</div>
	  		</div>

	  		<div class="item-action-button text-right">
	  			<i class="icon ion-more"></i>
	  		</div>

	  	</div>

	  	<div class="gem-timeline--item">
	  		<div class="thumb is-image">
	  			<!-- <i class="icon ion-heart"></i> -->
	  			<img src="img/demo/profile-image-4.jpg" alt="">
	  		</div>

	  		<div class="item-content">
	  			<h6 class="uppercase date">January 24th 1985</h6>
	  			<h4><i class="title-icon ion-android-calendar"></i> Max's birthday is today!</h4>
	  			<div class="media">
	  				<img src="img/demo/feed-image-2.jpg" alt="">
	  				<h5 class="bold">Party at blue avenue five</h5>
	  				<ul class="media-list padding">
  						<li><i class="ion-clock"></i> 5:00pm</li>
  						<li><i class="ion-ios-location"></i> Manhattan Precint</li>
  					</ul>
	  			</div>
	  		</div>

	  		<div class="item-action-button text-right">
	  			<i class="icon ion-more"></i>
	  		</div>
	  		
	  	</div>

	  </div>
  </ion-content>
</ion-view>
