<!-- 
Style Files:
  project-folder/scss/general.scss
  project-folder/scss/single-post-and-profile.scss
-->
<ion-view view-title="" class="gemionic-theme gem-viewpost">
  <ion-content class="primary-font" overflow-scroll="true">
    <div class="gem-content">
      <div class="gem-viewpost--image">
        <div class="overlay"></div>
        <img src="img/demo/post-img.png" alt="">
      </div>
      <div class="post-details">
        <h3 class="post-title text-center">Finding the joy in the little things</h3>
        <div class="post-content">
        <div class="post-thumb-and-options text-center">
          <button><i class="icon ion-share"></i></button>
          <img src="img/demo/profile-image.jpg" alt="" class="post-thumb">
          <h5 class="poster">Jennifer Hamilton</h5>
          <div class="divider"></div>
          <button><i class="icon ion-ios-heart"></i></button>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quidem, ratione amet et pariatur adipisci alias labore sit cupiditate blanditiis sed. Debitis, odit, dicta! Itaque, sequi, voluptatem! Pariatur, ex! Nam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, non ea esse illum eos iure saepe libero eaque voluptatum, inventore accusantium consequatur atque perspiciatis optio tenetur eligendi maiores veritatis sint!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem est illo delectus alias dolor, voluptatibus cumque, fugit neque in vel adipisci ex id numquam repellat veritatis! Nisi ipsam, magnam explicabo!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis porro asperiores similique quas quod voluptatem reiciendis? Rem beatae, nisi consectetur obcaecati blanditiis minus modi quas esse, quia soluta quidem quam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis officiis, alias voluptatibus asperiores dolore esse suscipit similique maiores, quibusdam hic, aliquid? Reprehenderit odit reiciendis eveniet aliquam aliquid laboriosam similique officia?</p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
